{% include "header.html" %}
<body>
    
    <div class="container">
        <div class="login-form">
            <h2>PickDrop User Login</h2>
            <h2>Login to Your Account</h2>
            <form  method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="email">Email ID</label>
                    <input type="email" id="email" name="email" placeholder="Enter your email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
                
                <button type="submit" class="btn">Login</button>
                <!-- Display error message -->
                <h3>{{data}}</h3>
                <h3>{{email}}</h3>
                
            </form>
        </div>
    </div>

</body>
</html>
